body{
  font: 3vmin/6vmin sans-serif;
  color: #111;
}

/******************************/
#caption{
  display: block;
  width: 100%;
  height: 8vmin;
  padding-top: 2vmin;
  text-align: center;
  font-size: 8vmin;
}

/******************************/
#tbl_run{
  display: block;
  float: right;
  width: 20%;
  height: 25vmin;
}
#tbl_run input{
  display: block;
  width: 100%;
  height: 50%;
  background-color: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 0px 0px 3px #666666;
  color: #fff;
  font-size: 4vmin;
}
#tbl_run input:hover{
  background-color: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#tbl_run #lbl_warning{
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
  vertical-align: middle;
  color: red;
}

.clear{
  clear: both;
  height: 1vmin;
}

/********************************************/
#tbl_input{
  display: block;
  float: left;
  box-sizing: border-box;
  width: 75%;
}
#tbl_input .input_block{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: solid #fff 1px;
}
#tbl_input .th{
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  text-align: center;
  color: #eee;
  background-color: #666;
}
#tbl_input input, #tbl_input select{
  display: inline-block;
  box-sizing: border-box;
  width: 66.67%;
  height: 6vmin;
  vertical-align: bottom;
  border: none;
  background-color: #cdf;
  font: 3vmin/6vmin monospace;
}

/*****************************************/
#summary{
  display: none;
  width: 100%;
  text-align: center;
  font-size: 6vmin;
}
#summary #amount{
  color: #c33;
  font: 12vmin cursive;
}

/*****************************************/
#toggle_output{
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2em;
  color: #444;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fff, #ddd);
}
#tbl_output{
  display: none;
  clear: both;
  width: 100%;
}
#tbl_output .output_block{
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
}
#tbl_output span{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: solid #fff 1px;
}
#tbl_output span.th{
  text-align: center;
  color: #eee;
  background-color: #396;
}
#tbl_output span.td{
  text-align: right;
  font-family: monospace;
  background-color: #ddd;
}